body{
	background:#02010a;
	font-family:Dancing Script;
	margin:0 auto;
	display:flex;
	flex-flow:column wrap;
}
header{
	background:#5b7989;	
	color:white;
	border-radius:10px 10px 0px 0px;	
	top:0px;
	width:80%;
	margin:0 auto;
	animation-name:slideIn;
	animation-duration:2s;
}
h1{
	text-shadow:1px 2px #02010a;
	display:inline;
	padding: 1em;	
}
nav a{		
	color:white;
	padding: 1em;
	
}
nav{
	float:right;
	display:inline;
	border:solid 1px red;
	text-align:center;
}
ul{
	list-style-type:none;
	margin:0;	
}
li{
	float:left;
	margin: 0px 5px;
	padding: 15px 0px;
}
#contenido{
	width:80%;
	background-color:#82c3a6;
	margin:0 auto;
}
#subcontenido{
	margin:3em 3em;
}
#contenido img{
	width:100%;
	/* height:100; */
	box-shadow:2px 2px #02010a;	
}
#contenido1{
	/* display:flex; */
	/* flex-flow:row wrap; */
	background:#d5c75f;
	width:80%;
	margin:0 auto;	
	border:1px;
}
#imagen1{
	box-sizing: border-box;
	float:left;
	text-align:center;	
	margin:2em 3em;
	/* border:solid 2px red; */
}
#imagen1 img{
	width:100%;
	height:auto;
	box-shadow:2px 2px #02010a;
}
#imagen1 img:hover{
	transform:rotate(10deg);
}
#imagen1 p{
	text-decoration:underline;
	margin:0;
	padding:0;
}
#imagen2{
	box-sizing: border-box;
	float:right;
	text-align:center;	
	margin:2em 3em;
	/* border:solid 2px red; */
}
#imagen2 img{
	width:100%;
	height:auto;	
	box-shadow:2px 2px #02010a;
}
#imagen2 img:hover{
	transform:translate(20px, -5px);
	box-shadow:2px 2px #82c3a6;
}
#imagen2 p{ 
	text-decoration:underline;
	margin:0;
	padding:0;
} 
footer{
	display: flex;
	flex-flow: row wrap;
	background:#C6d5c5;
	width:80%;
	clear:both;
	margin:0 auto;	
	border-radius:0px 0px 10px 10px;
}
.contacto{
	width:20%;
	padding:2.5%;
}
.terminos{
	width:20%;
	padding:2.5%;	
}
.redes{
	width:20%;
	padding:2.5%;	
}
.derechos{
	width:20%;
	padding:2.5%;	
}

@media all and (max-width: 900px) {
	#contenido{
		width:80%;
   }
    header h1{
		display:block;
		width:80%;
	    text-align:center;
		margin:0 auto; 
   }
   header nav {
	   display:block;
	   width:100%;
   }
	#contenido1{
		width:80%;
	}	
	.contacto{
		font-size:2em;
		width:100%;
		order:1;
	}
	.terminos{
		font-size:2em;
		width:100%;
		order:2;
	}
	.redes{
		font-size:2em;
		width:100%;
		order:3;
	}
	.derechos{
		font-size:2em;
		width:100%;
		order:4;
	}
	#imagen1{
		width:80%;
	}
	#imagen2{
		width:80%;
	}
}
@-webkit-keyframes slideIn{
		0%{
			margin-top:150%;
		}
		60%{
			margin-top:-5%;
		}
		100%{
			0%;
		}
}

	

